<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Home Page</title>
    <link rel="stylesheet"  th:href="@{/asset/libs/magnific-popup/dist/magnific-popup.css}"/>
    <link rel="stylesheet" th:href="@{/dist/css/style.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/asset/extra-libs/multicheck/multicheck.css}" href="">
    <link rel="stylesheet" type="text/css" th:href="@{/asset/libs/datatables.net-bs4/css/dataTables.bootstrap4.css}" href="">
    <link th:href="@{/font/css/all.css}" rel="stylesheet">

    <style>
        .sidebar-nav ul .sidebar-item.selected>.sidebar-link {
            background: #1F262D;
            opacity: .4;
            transition:all 0.3s ease
        }
        .sidebar-nav ul .sidebar-item.selected>.sidebar-link:hover {
            opacity: 1;
            transition:all 0.3s ease
        }
        .odd :hover{
            background: aliceblue;
            transition:all 0.3s ease;
        }
        .odd{
            transition:all 0.3s ease;
        }
        .modal-confirm {
            color: #636363;
            width: 325px;
        }
        .modal-confirm .modal-content {
            padding: 20px;
            border-radius: 5px;
            border: none;
        }
        .modal-confirm .modal-header {
            border-bottom: none;
            position: relative;
        }
        .modal-confirm h4 {
            text-align: center;
            font-size: 26px;
            margin: 30px 0 -15px;
        }
        .modal-confirm .form-control, .modal-confirm .btn {
            min-height: 40px;
            border-radius: 3px;
        }
        .modal-confirm .close {
            position: absolute;
            top: -5px;
            right: -5px;
        }
        .modal-confirm .modal-footer {
            border: none;
            text-align: center;
            border-radius: 5px;
            font-size: 13px;
        }
        .modal-confirm .icon-box {
            color: #fff;
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: -70px;
            width: 95px;
            height: 95px;
            border-radius: 50%;
            z-index: 9;
            background: #82ce34;
            padding: 15px;
            text-align: center;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        }
        .modal-confirm .icon-box i {
            font-size: 58px;
            position: relative;
            top: 3px;
        }
        .modal-confirm.modal-dialog {
            margin-top: 80px;
        }
        .modal-confirm .btn {
            color: #fff;
            border-radius: 4px;
            background: #82ce34;
            text-decoration: none;
            transition: all 0.4s;
            line-height: normal;
            border: none;
        }
        .modal-confirm .btn:hover, .modal-confirm .btn:focus {
            background: #6fb32b;
            outline: none;
        }
        .trigger-btn {
            display: inline-block;
            margin: 100px auto;
        }
        @media (min-width: 992px){
            .container {
                max-width: 100%;
            }
        }
    </style>
</head>

<body>
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>

<div id="main-wrapper">
    <div th:if="${updated} != null" id="myModal" ref="myModal" class="modal fade">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="icon-box">
                        <i class="material-icons"><i style="font-size: 42px;top: -13px;" class="fas fa-check"></i></i>
                    </div>
                    <h4 style="text-align: center;font-size: 25px;margin: 32px 43px -22px;" class="modal-title">Info</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">Client updated successfully</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success btn-block" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <header style="position: fixed;width: 100%;" class="topbar" data-navbarbg="skin5">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header" data-logobg="skin5">
                <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                <a class="navbar-brand" href="index.html">
                    <b class="logo-icon p-l-10">
                        <img style="height: 50px;width: 40px;transform: rotate(-40deg)" th:src="@{/icone/shopping-cart.png}" alt="homepage" class="light-logo">

                    </b>
                    <span class="logo-text">
                        <img style="width: 135px; height: 50px; margin-left: 20px;" th:src="@{/icone/shop-logo.png}" alt="homepage" class="light-logo">
                    </span>
                </a>
                <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
            </div>
            <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                <ul class="navbar-nav float-left mr-auto">
                    <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="fas fa-bars font-24"></i></a></li>
                    <li class="nav-item search-box"> <a class="nav-link waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                        <form class="app-search position-absolute">
                            <input type="text" class="form-control" placeholder="Search &amp; enter"> <a class="srh-btn"><i class="ti-close"></i></a>
                        </form>
                    </li>
                </ul>
                <ul class="navbar-nav float-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-dark" style="position: relative;top: 5px;" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="font-24 fas fa-bell"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown" aria-labelledby="2">
                            <ul class="list-style-none">
                                <li>
                                    <div class="">
                                        <a href="javascript:void(0)" class="link border-top">
                                            <div class="d-flex no-block align-items-center p-10" style="margin-left: 10px;">
                                                <span class="btn btn-success btn-circle"><i class="ti-calendar"></i></span>
                                                <div class="m-l-10" style="padding-left: 10px;padding-top: 5px;">
                                                    <h5 class="m-b-0">Notification</h5>
                                                    <span class="mail-desc"> n'est pas en marche </span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img th:src="@{/asset/images/users/1.jpg}" alt="user" class="rounded-circle" width="31"></a>
                        <div class="dropdown-menu dropdown-menu-right user-dd animated">
                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5"></i> My Profile</a>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-wallet m-r-5 m-l-5"></i> My Balance</a>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-email m-r-5 m-l-5"></i> Inbox</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-settings m-r-5 m-l-5"></i> Account Setting</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside style="position: fixed" class="left-sidebar" data-sidebarbg="skin5">
        <div class="scroll-sidebar">
            <nav class="sidebar-nav">
                <ul id="sidebarnav" class="p-t-30">
                    <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fas fa-user"></i><span class="hide-menu"> Clients  </span></a>
                        <ul aria-expanded="false" class="collapse  first-level">
                            <li class="sidebar-item"><a href="/consultations" class="sidebar-link"><i class="fas fa-user-cog"></i><span class="hide-menu"> Consulter liste des clients </span></a></li>
                        </ul>
                    </li>
                    <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fas fa-columns"></i><span class="hide-menu"> Consultations  </span></a>
                        <ul aria-expanded="false" class="collapse  first-level">
                            <li class="sidebar-item"><a href="/consultations" class="sidebar-link"><i class="fas fa-clipboard-list"></i><span class="hide-menu"> Consulter liste des consultation </span></a></li>
                        </ul>
                    </li>

                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/facture" aria-expanded="false"><i class="fas fa-outdent"></i><span class="hide-menu"> Facture </span></a></li>
                    <li class="sidebar-item"> <a th:href="@{/product}" class="sidebar-link waves-effect waves-dark"  aria-expanded="false"><i class="fas fa-object-ungroup"></i><span class="hide-menu"> Produits </span></a>
                    <li class="sidebar-item"> <a th:href="@{/Entreprise}" class="sidebar-link waves-effect waves-dark" aria-expanded="false"><i class="fas fa-building"></i><span class="hide-menu"> Entreprise </span></a>
                    <li th:if="${role}==ADMIN" class="sidebar-item"> <a th:href="@{/Utilisateur}" class="sidebar-link waves-effect waves-dark" aria-expanded="false"><i class="fas fa-user-friends"></i><span class="hide-menu"> Utilisateurs </span></a>
                </ul>
            </nav>
        </div>
    </aside>

    <div class="page-wrapper" style="margin-top: 65px">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Client Module :</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item" th:text="${client.firstName + ' ' + client.lastName}"></li>
                                <li class="breadcrumb-item" aria-current="page"><a th:href="@{/home}">home</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="display:flex;">
            <div class="col-sm-2" style="margin-right:10px">
                <ul class="list-group">
                    <li class="list-group-item text-left"><span class="pull-left"><strong class="page-title"><i class="fas fa-diagnoses"></i> Joined : </strong> <p th:text="${client.createdDate}"></p> </span></li>
                    <li th:if="${client.birthDate} != null " class="list-group-item text-left"><span class="pull-left"><strong class="page-title"><i style="margin-right: 3px" class="fas fa-birthday-cake"></i> Birth date : </strong> <p th:text="${client.birthDate}"></p></span></li>
                    <li th:if="${client.sexe}" class="list-group-item text-left"><span class="pull-left"><strong class="page-title">Sexe :</strong></span> masculin </li>
                    <li th:if="${client.sexe} == false" class="list-group-item text-left"><span class="pull-left"><strong class="page-title">Sexe :</strong></span> feminin </li>
                </ul>
                <div>
                    <div style="margin-top: 20px" class="card card-hover">
                        <div class="box bg-cyan text-center">
                            <h1 class="font-light text-white"><i class="fas fa-pen"></i></h1>
                            <h6 class="text-white">Edit client</h6>
                        </div>
                    </div>
                    <div style="margin-top: 10px" class="card card-hover">
                        <div class="box bg-info text-center">
                            <h1 class="font-light text-white"><i class="fas fa-address-book"></i></h1>
                            <h6 class="text-white" th:text="${consultations.size() + ' consultations'}"></h6>
                        </div>
                    </div>
                    <div class="card card-hover">
                        <div class="box bg-warning text-center">
                            <h1 class="font-light text-white"><i class="fas fa-ticket-alt"></i></h1>
                            <h6 class="text-white" th:text="${produits + ' produits achetés'}"></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card col-sm-9">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item"> <a th:href="@{${'/home/client/'+ id}}" class="nav-link" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down"><b>Profile</b> </span></a> </li>
                    <li class="nav-item"> <a th:href="@{${'/home/client/edit/'+ id}}" class="nav-link active"  role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down"><b>Edit Profile</b> </span></a> </li>
                </ul>
                <div class="tab-content tabcontent-border">
                    <div class="tab-pane active" id="profile" role="tabpanel">
                        <div class="p-20">
                            <div class="tab-pane" id="settings">
                                <div class="p-2"><img th:if="${client.sexe}" style="max-width: 30%;padding-bottom: 20px" th:src="@{/icone/noprofile.jpg}" alt="user" class="img-fluid mx-auto d-block rounded-circle">
                                    <img th:if="${client.sexe} == false" style="max-width: 30%;padding-bottom: 20px" th:src="@{/icone/noprofile.jpg}" alt="user" class="img-fluid mx-auto d-block rounded-circle">
                                    <h4 class="text-center" th:text="${client.firstName + ' ' + client.lastName}"></h4>
                                </div>
                                <hr>
                                <form class="form" action="#" th:action="@{/home/profile/submit}" th:object="${client}" method="post" id="registrationForm">
                                    <div class="card col-sm-11" style="margin: auto">
                                        <div class="row mb-3">
                                            <div class="form-group col-md-6 col-sm-12">
                                                <label for="first_name">
                                                    <h4><i style="margin-right: 3px;" class="fas fa-user"></i> First name :</h4></label>
                                                <input type="text" class="form-control" required th:field="${client.firstName}" th:value="${client.firstName}" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
                                            </div>
                                            <div class="form-group col-md-6 col-sm-12">
                                                <label for="last_name">
                                                    <h4><i style="margin-right: 3px;" class="fas fa-user"></i> Last name :</h4></label>
                                                <input  type="text" required th:field="${client.lastName}" th:value="${client.lastName}" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
                                            </div>
                                            <div class="form-group col-md-6 col-sm-12">
                                                <label for="xphone-mask">
                                                    <h4><i style="margin-right: 3px;" class="fas fa-phone"></i> Phone :</h4></label>
                                                <input required th:if="${client.address} != null" type="number" th:field="${client.address.tel}" th:value="${client.address.tel}" class="form-control xphone-inputmask" id="xphone-mask" placeholder="Pas de num de tel">
                                                <input required th:if="${client.address} == null" type="number" th:field="${client.address.tel}" class="form-control xphone-inputmask" id="xphone-mask" placeholder="Veuillez inserer un num...">
                                            </div>
                                            <div class="form-group col-md-6 col-sm-12">
                                                <label for="email">
                                                    <h4><i style="margin-right: 3px;" class="fas fa-envelope"></i> Email :</h4></label>
                                                <input required type="email" th:field="${client.email}" th:value="${client.email}" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                                            </div>
                                            <div class="form-group col-md-6 col-sm-12">
                                                <label for="Address">
                                                    <h4><i style="margin-right: 3px;" class="far fa-address-card"></i>Default Address :</h4></label>
                                                <input required th:if="${client.address} != null" type="text" th:field="${client.address.rue}" th:value="${client.address.rue}" class="form-control" id="Address" placeholder="Veuillez entrer une addresse" title="enter a location">
                                                <input required th:if="${client.address} == null" type="text" th:field="${client.address.rue}"  class="form-control" id="Address" placeholder="Veuillez entrer une addresse" title="enter a location">
                                            </div>
                                            <div class="form-group col-md-6 col-sm-12">
                                                <label for="city">
                                                    <h4><i style="margin-right: 3px;" class="fas fa-address-card"></i> City :</h4></label>
                                                <input required th:if="${client.address} != null" type="text" th:field="${client.address.ville}"  th:value="${client.address.ville}"  class="form-control" id="city" placeholder="Veuillez entrer une addresse" title="enter a location">
                                                <input required th:if="${client.address} == null" type="text" th:field="${client.address.ville}"   class="form-control" id="city" placeholder="Veuillez entrer une addresse" title="enter a location">
                                            </div>
                                            <div class="form-group col-md-6 col-sm-12">
                                                <label for="pays">
                                                    <h4><i style="margin-right: 3px;" class="fas fa-address-card"></i> Pays :</h4></label>
                                                <input required th:if="${client.address} != null" type="text" th:field="${client.address.pays}"  th:value="${client.address.pays}"  class="form-control" id="pays" placeholder="Veuillez enter une addresse" title="enter a location">
                                                <input required th:if="${client.address} == null" type="text" th:field="${client.address.pays}"  class="form-control" id="pays" placeholder="Veuillez entrer une addresse" title="enter a location">
                                            </div>
                                            <div class="form-group col-md-6 col-sm-12">
                                                <label for="zip">
                                                    <h4><i style="margin-right: 3px;" class="fas fa-address-card"></i> Pays :</h4></label>
                                                <input required th:if="${client.address} != null" type="text" th:field="${client.address.zipCode}"  th:value="${client.address.zipCode}"  class="form-control" id="zip" placeholder="Veuillez enter une addresse" title="enter a location">
                                                <input required th:if="${client.address} == null" type="text" th:field="${client.address.zipCode}"  class="form-control" id="zip" placeholder="Veuillez entrer une addresse" title="enter a location">
                                            </div>
                                        </div>
                                        <input type="hidden" required th:field="${client.id}" th:value="${id}" />
                                        <div class="border-top" style="width:100%;margin-bottom: 20px">
                                            <div class="card-body" style="float:right;padding-bottom:0px">
                                                <button type="submit" class="btn btn-success btn-lg">Valider</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer text-center">
            All right reserved.
        </footer>
    </div>
</div>

<script th:src="@{/asset/libs/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/asset/libs/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/asset/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/asset/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
<script th:src="@{/asset/extra-libs/sparkline/sparkline.js}"></script>
<script th:src="@{/dist/js/waves.js}"></script>
<script th:src="@{/dist/js/sidebarmenu.js}"></script>
<script th:src="@{/dist/js/custom.min.js}"></script>
<script th:src="@{/asset/libs/magnific-popup/dist/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/asset/libs/magnific-popup/meg.init.js}"></script>
<script th:src="@{/asset/extra-libs/multicheck/datatable-checkbox-init.js}"></script>
<script th:src="@{/asset/extra-libs/multicheck/jquery.multicheck.js}"></script>
<script th:src="@{/asset/extra-libs/DataTables/datatables.min.js}"></script>
<script>
    $('#myModal').modal('show');
</script>
</body>


</html>
