<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Home Page</title>
    <link rel="stylesheet"  th:href="@{asset/libs/magnific-popup/dist/magnific-popup.css}"/>
    <link rel="stylesheet" th:href="@{dist/css/style.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{asset/extra-libs/multicheck/multicheck.css}" href="">
    <link rel="stylesheet" type="text/css" th:href="@{asset/libs/datatables.net-bs4/css/dataTables.bootstrap4.css}" href="">
    <link th:href="@{font/css/all.css}" rel="stylesheet">

    <style>
        .sidebar-nav ul .sidebar-item.selected>.sidebar-link {
            background: #1F262D;
            opacity: .4;
            transition:all 0.3s ease
        }
        .sidebar-nav ul .sidebar-item.selected>.sidebar-link:hover {
            opacity: 1;
            transition:all 0.3s ease
        }
        .odd :hover{
            background: aliceblue;
            transition:all 0.3s ease;
        }
        .odd{
            transition:all 0.3s ease;
        }
    </style>
</head>

<body>
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>

<div id="main-wrapper">

    <header style="position: fixed;width: 100%;" class="topbar" data-navbarbg="skin5">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header" data-logobg="skin5">
                <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                <a class="navbar-brand" href="index.html">
                    <b class="logo-icon p-l-10">
                        <img style="height: 50px;width: 40px;transform: rotate(-40deg)" th:src="@{icone/shopping-cart.png}" alt="homepage" class="light-logo">

                    </b>
                    <span class="logo-text">
                        <img style="width: 135px; height: 50px; margin-left: 20px;" th:src="@{icone/shop-logo.png}" alt="homepage" class="light-logo">
                    </span>
                </a>
                <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
            </div>
            <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                <ul class="navbar-nav float-left mr-auto">
                    <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="fas fa-bars font-24"></i></a></li>
                    <li class="nav-item search-box"> <a class="nav-link waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                        <form class="app-search position-absolute">
                            <input type="text" class="form-control" placeholder="Search &amp; enter"> <a class="srh-btn"><i class="ti-close"></i></a>
                        </form>
                    </li>
                </ul>
                <ul class="navbar-nav float-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-dark" style="position: relative;top: 5px;" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="font-24 fas fa-bell"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown" aria-labelledby="2">
                            <ul class="list-style-none">
                                <li>
                                    <div class="">
                                        <a href="javascript:void(0)" class="link border-top">
                                            <div class="d-flex no-block align-items-center p-10" style="margin-left: 10px;">
                                                <span class="btn btn-success btn-circle"><i class="ti-calendar"></i></span>
                                                <div class="m-l-10" style="padding-left: 10px;padding-top: 5px;">
                                                    <h5 class="m-b-0">Notification</h5>
                                                    <span class="mail-desc"> n'est pas en marche </span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img th:src="@{asset/images/users/1.jpg}" alt="user" class="rounded-circle" width="31"></a>
                        <div class="dropdown-menu dropdown-menu-right user-dd animated">
                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5"></i> My Profile</a>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-wallet m-r-5 m-l-5"></i> My Balance</a>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-email m-r-5 m-l-5"></i> Inbox</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-settings m-r-5 m-l-5"></i> Account Setting</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside style="position: fixed" class="left-sidebar" data-sidebarbg="skin5">
        <div class="scroll-sidebar">
            <nav class="sidebar-nav">
                <ul id="sidebarnav" class="p-t-30">
                    <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fas fa-user"></i><span class="hide-menu"> Clients  </span></a>
                        <ul aria-expanded="false" class="collapse  first-level">
                            <li class="sidebar-item"><a href="/home" class="sidebar-link"><i class="fas fa-user-cog"></i><span class="hide-menu"> Consulter liste des clients </span></a></li>
                        </ul>
                    </li>
                    <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fas fa-columns"></i><span class="hide-menu"> Consultations  </span></a>
                        <ul aria-expanded="false" class="collapse  first-level">
                            <li class="sidebar-item"><a href="/consultations" class="sidebar-link"><i class="fas fa-clipboard-list"></i><span class="hide-menu"> Consulter liste des consultation </span></a></li>
                        </ul>
                    </li>
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/facture" aria-expanded="false"><i class="fas fa-outdent"></i><span class="hide-menu"> Facture </span></a></li>
                    <li class="sidebar-item"> <a th:href="@{/product}" class="sidebar-link waves-effect waves-dark"  aria-expanded="false"><i class="fas fa-object-ungroup"></i><span class="hide-menu"> Produits </span></a>
                    <li class="sidebar-item"> <a th:href="@{/Entreprise}" class="sidebar-link waves-effect waves-dark" aria-expanded="false"><i class="fas fa-building"></i><span class="hide-menu"> Entreprise </span></a>
                    <li th:if="${role}==ADMIN" class="sidebar-item"> <a th:href="@{/Utilisateur}" class="sidebar-link waves-effect waves-dark" aria-expanded="false"><i class="fas fa-user-friends"></i><span class="hide-menu"> Utilisateurs </span></a>


                </ul>
            </nav>
        </div>
    </aside>

    <div class="page-wrapper" style="margin-top: 65px">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Produits en stock:</h4>

                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row el-element-overlay">
                <div class="row" style="width: 100%;">
                    <div class="col-12">

                        <div class="bg-white text-dark" style="padding:10px; " >
                            <div style="padding: 5px;">
                                <div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h4 class="modal-title w-100 font-weight-bold">
                                                    <i class="fas fa-user"></i>
                                                    Ajouter un utilisateur</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body mx-3">

                                                <form th:action="@{saveClient}"  method="post" object="client" >

                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label data-error="wrong" data-success="right" for="orangeForm-des">Email</label>
                                                            <input type="email" id="orangeForm-des" name="email" class="form-control validate">
                                                        </div>

                                                        <div class="form-group col-md-6">
                                                            <label data-error="wrong" data-success="right" for="orangeForm-type">Nom</label>
                                                            <input type="text" id="orangeForm-type" name="lastName" class="form-control validate">
                                                        </div>
                                                    </div>

                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label data-error="wrong" data-success="right" for="orangeForm-indice">Prenom</label>
                                                            <input type="text" id="orangeForm-indice" name="firstName" class="form-control validate">
                                                        </div>
                                                    </div>


                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label data-error="wrong" data-success="right" for="orangeForm-diam">Mot de passe</label>
                                                            <input type="text" id="orangeForm-diam" name="password" class="form-control validate">
                                                        </div>
                                                    </div>



                                                    <div class="modal-footer d-flex justify-content-center">
                                                        <button class="btn btn-danger" type="submit">+ Ajouter</button>
                                                    </div>
                                            </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <a href=""  class="btn btn-facebook btn-lg " data-toggle="modal" data-target="#modalRegisterForm">+ Ajouter Utilisateur</a>
                                </div>
                            </div>
                            <table class="table" style="padding-top: 15px;">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Nom</th>
                                    <th scope="col">Prenom</th>
                                    <th scope="col">email</th>
                                    <th scope="col">Date de creation</th>


                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="u:${e}">
                                    <td th:text="${u.getLastName()}"></td>
                                    <td th:text="${u.getFirstName()}"></td>
                                    <td th:text="${u.getEmail()}"></td>
                                    <td th:text="${u.getLastmodifiedDate()}"></td>
                                </tr>


                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer text-center">
            All right reserved.
        </footer>
    </div>
</div>

<script th:src="@{asset/libs/jquery/dist/jquery.min.js}"></script>
<script th:src="@{asset/libs/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{asset/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{asset/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
<script th:src="@{asset/extra-libs/sparkline/sparkline.js}"></script>
<script th:src="@{dist/js/waves.js}"></script>
<script th:src="@{dist/js/sidebarmenu.js}"></script>
<script th:src="@{dist/js/custom.min.js}"></script>
<script th:src="@{asset/libs/magnific-popup/dist/jquery.magnific-popup.min.js}"></script>
<script th:src="@{asset/libs/magnific-popup/meg.init.js}"></script>
<script th:src="@{asset/extra-libs/multicheck/datatable-checkbox-init.js}"></script>
<script th:src="@{asset/extra-libs/multicheck/jquery.multicheck.js}"></script>
<script th:src="@{asset/extra-libs/DataTables/datatables.min.js}"></script>
</body>


</html>